.header{
  background-color: #FFFFFF;
  border-bottom: 2px solid #DFDFDF;
  color: black;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  height: 60px;
  padding-left: 10px;
}
.grid{
  padding-top: 60px;
  display: flex;
  justify-content: center;
  /*let's center it in the middle of the page*/
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.row{
  display: flex;
  gap: 5px;
}

.case{
  height: 52px;
  width: 52px;
  border: 2px solid #D3D6DA;
  text-transform: uppercase;
  color: black;
  /* font-family: "nyt-franklin"; */
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matched{
  background-color: #6AAA64;
  color: white;
  border: 2px solid #6AAA64;
}

.includes{
  background-color: #C9B458;
  color: white;
  border: 2px solid #C9B458;
}

.incorrect{
  background-color: #787C7E;
  color: white;
  border: 2px solid #787C7E;
}
/* yellow: #C9B458
    green: #6AAA64
    dark-gray: #787C7E*/
